@tailwind base;
@tailwind components;
@tailwind utilities;

@import "layout/sidebar";

$plyr-color-main: theme('colors.green.500');
$plyr-audio-controls-background: transparent;
$plyr-audio-control-color: #fff;

@import "~plyr/src/sass/plyr";


.album--image {
    @apply .h-full .rounded-lg .mr-6;
    width: 220px;
    max-height: 220px;
}


.plyr {
    height: 100%;
    width :100%;
}
